<div class="container mt-3">
    <div class="row text-center">
      <div class="col">
        <!-- FullCalendar se configura usando el binding de las opciones -->
       <!--<full-calendar [options]="calendarOptions"></full-calendar>-->
       <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
  
  <!-- Modal para añadir o editar eventos -->
  @if (addModal) {
    <div class="modal" tabindex="-1" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- Cambia el título según si estás añadiendo o editando un evento -->
            @if (selectedEvent) {
              <h5 class="modal-title">Editar Evento</h5>
            } @else {
              <h5 class="modal-title">Añadir Evento</h5>
            }
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Título"
                  formControlName="title"
                  [class.is-invalid]="eventForm.get('title')?.invalid && eventForm.get('title')?.touched">
                @if (eventForm.get('title')?.errors?.['required'] && eventForm.get('title')?.touched) {
                  <span class="text-danger">Campo requerido</span>
                }
              </div>
  
              <div class="mb-3">
                <input
                  type="date"
                  class="form-control"
                  formControlName="date">
                @if (eventForm.get('date')?.errors?.['required'] && eventForm.get('date')?.touched) {
                  <span class="text-danger">Campo requerido</span>
                }
              </div>
  
              <div class="mb-3">
                <textarea
                  class="form-control"
                  placeholder="Descripción"
                  formControlName="description"></textarea>
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  }
  