.navbar {
    padding: 20px; // Ajusta el padding de la barra de navegación
  }
  
  .form-control {
    margin-right: 15px; // Espacio entre el campo de búsqueda y el borde derecho
  }
  
  .navbar-brand {
    margin-right: auto; // Asegura que el texto "CRUD Recetas" esté alineado a la izquierda
  }
  