<p>list-locations works!</p>
<div>
    <h2>Lista de Ubicaciones</h2>
    <button [routerLink]="['/locations/add']" class="btn btn-primary">Añadir Nueva Ubicación</button>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (locations.length > 0) {
            @for (location of locations; track location.id) {
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.description }}</td>
                <td>
                    <button [routerLink]="location.id ? ['/locations/edit', location.id] : null"
                        [disabled]="!location.id" class="btn btn-warning">
                        Editar
                    </button>
                    <button (click)="location.id ? deleteLocation(location.id) : null" [disabled]="!location.id"
                        class="btn btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
            } @else {
            <tr>
                <td colspan="3">No hay ubicaciones disponibles.</td>
            </tr>
            }
        </tbody>
    </table>
</div>